Video on Walking Notes.json
{
  "updatedAt": "2026-02-11T20:05:45.450Z",
  "createdAt": "2026-02-07T22:49:38.603Z",
  "id": "9yPJNUshCRSp8Df2J2fPU",
  "name": "video on walking notes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "73fec8fb-3bcb-4f12-a595-asdfasdfasdf",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c5fb08e5-f36d-4500-82a8-c72ca7816f39",
      "name": "Webhook",
      "webhookId": "73fec8fb-3bcb-4f12-a595-cc1519394a32",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9uLRUJfaACScOFZe",
          "name": "video bearer auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a874db5-90f1-45a1-a1fb-4d0af54051b0",
              "leftValue": "={{ $json.body.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "d7fb757a-5483-4a20-9ad6-b0abd5d10086",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -48
      ],
      "id": "1d4c80f5-fa00-4fb0-9d63-aa44f9253926",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "Q18XH3v9h7Ec1yDT",
          "mode": "list",
          "cachedResultName": "notesjournal for video",
          "cachedResultUrl": "/projects/31r78rDDJG73AhTj/datatables/Q18XH3v9h7Ec1yDT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sourceText",
              "keyValue": "={{ $('Webhook').item.json.body.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        -48
      ],
      "id": "4b1e1fc0-fe65-482b-a203-0cf0040cd1e9",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Q18XH3v9h7Ec1yDT",
          "mode": "list",
          "cachedResultName": "notesjournal for video",
          "cachedResultUrl": "/projects/31r78rDDJG73AhTj/datatables/Q18XH3v9h7Ec1yDT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sourceText": "={{ $('Webhook').item.json.body.text }}",
            "status": "captured"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sourceText",
              "displayName": "sourceText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outputText",
              "displayName": "outputText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        -48
      ],
      "id": "50ce609f-9362-485e-a808-b5c269339731",
      "name": "Insert row"
    },
    {
      "parameters": {
        "inputText": "={{ $('Webhook').item.json.body.text }}",
        "categories": {
          "categories": [
            {
              "category": "3d print ideas"
            },
            {
              "category": "groceries"
            },
            {
              "category": "calendar"
            },
            {
              "category": "todo"
            },
            {
              "category": "wins"
            },
            {
              "category": "video ideas",
              "description": "anything that describes a video I should make. This could include anything when I say I should make a video, or this is the next video, or anything similar"
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1072,
        -128
      ],
      "id": "086b7ba1-e60d-466f-b150-cd60b4e6830a",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "minimax-m2.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1008,
        272
      ],
      "id": "aaeffdb6-270d-4016-a83a-229cf566692e",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "NQCok8h76wOVxm1c",
          "name": "n8n turbo video credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Q18XH3v9h7Ec1yDT",
          "mode": "list",
          "cachedResultName": "notesjournal for video",
          "cachedResultUrl": "/projects/31r78rDDJG73AhTj/datatables/Q18XH3v9h7Ec1yDT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sourceText",
              "keyValue": "={{ $('Webhook').item.json.body.text }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "classified",
            "destination": "video ideas"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sourceText",
              "displayName": "sourceText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outputText",
              "displayName": "outputText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1552,
        16
      ],
      "id": "a58cccff-77dd-4d9c-96a8-ac583eef277a",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "text": "={{ $('Webhook').item.json.body.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "video",
              "description": "The idea I have for a video I should make. if the input text is \"Make a video about lemmings in kansas\", the output should be simply \"lemmings in kansas\". An input of \"record something about using n8n for basketweaving\", then the output should be \"n8n for basketweaving\"."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1760,
        16
      ],
      "id": "b43d95c3-fbce-4bbe-b681-db7fe2823dda",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "gpt-oss:120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1696,
        224
      ],
      "id": "da7c1335-85fd-4312-a862-91802704955d",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "NQCok8h76wOVxm1c",
          "name": "n8n turbo video credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Q18XH3v9h7Ec1yDT",
          "mode": "list",
          "cachedResultName": "notesjournal for video",
          "cachedResultUrl": "/projects/31r78rDDJG73AhTj/datatables/Q18XH3v9h7Ec1yDT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sourceText",
              "keyValue": "={{ $('Webhook').item.json.body.text }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "extracted",
            "outputText": "={{ $json.output.video  }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sourceText",
              "displayName": "sourceText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outputText",
              "displayName": "outputText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2112,
        16
      ],
      "id": "0b792efd-0e06-4693-a897-e7ef9c211b03",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/{{ $('Information Extractor').item.json.output.video.urlEncode() }}.json",
        "fileContent": "={\"type\": \"video\", \"content\": \"{{ $('Information Extractor').item.json.output.video}}\"}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2320,
        16
      ],
      "id": "081d7b3e-83b1-4c0f-b262-036a90461d07",
      "name": "Upload a file",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "AuLgwv8PN7u3VdO0",
          "name": "n8n to mac sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Q18XH3v9h7Ec1yDT",
          "mode": "list",
          "cachedResultName": "notesjournal for video",
          "cachedResultUrl": "/projects/31r78rDDJG73AhTj/datatables/Q18XH3v9h7Ec1yDT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sourceText",
              "keyValue": "={{ $('Webhook').item.json.body.text }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "done"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sourceText",
              "displayName": "sourceText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outputText",
              "displayName": "outputText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2528,
        16
      ],
      "id": "5889a1f2-6073-4e24-8de7-8a8efddfb729",
      "name": "Update row(s)2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n.tmlw.io",
            "user-agent": "BackgroundShortcutRunner/4046.0.2.1.102 CFNetwork/3860.300.31 Darwin/25.2.0",
            "content-length": "74",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-US,en;q=0.9",
            "authorization": "Bearer 4399c9da-c7a7-436f-9b77-67388564468f",
            "content-type": "application/json",
            "priority": "u=3",
            "via": "3.0 Caddy",
            "x-forwarded-for": "73.35.148.89",
            "x-forwarded-host": "n.tmlw.io",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "text": "This is a test to see if what I dictate shows up in my workflow"
          },
          "webhookUrl": "https://n.tmlw.io/webhook-test/73fec8fb-3bcb-4f12-a595-cc1519394a32",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4b26020a-1794-46ac-be62-f176500827fd",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T22:49:38.606Z",
      "createdAt": "2026-02-07T22:49:38.606Z",
      "role": "workflow:owner",
      "workflowId": "9yPJNUshCRSp8Df2J2fPU",
      "projectId": "31r78rDDJG73AhTj"
    }
  ],
  "activeVersion": null,
  "tags": []
}
